/* 헤더부분//////////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Caveat:wght@700&family=Nanum+Myeongjo:wght@700&family=Noto+Sans+KR:wght@400&display=swap');
body{
  font-family: 'Noto Sans KR', sans-serif;
}
.stylist{
  font-family: 'Caveat', cursive;
  font-size: 1.2em;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 20px 0;
}

.logo{
  font-size: 3em;
  font-family: 'Caveat', cursive;
  text-decoration: none;
  color: black;
}

.logo-text{
  text-decoration: none;
  color: black;
}

.logo-text:hover{
  color: black;
}

.header-right{
  display: flex;
  align-items: center;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border: none;
  background-color: white;
  border-radius: 100%;
}

.login img{
  width: 35px;
}
.login-text{
  font-size: 0.8em;
  font-weight: bold;
}

.search-bar input{
  width: 100%;
  outline: none;
}

.search-bar{
  width: 280px;
  border: none;
  background-color: #E7E6E6;
  margin-right: 20px;
  border-radius: 20px;
  padding: 5px 5px 5px 10px;
  display: flex;
  justify-content: space-between;
}

.search-bar button, .search-bar input{
  border: none;
  background-color: #E7E6E6;
}
.weather{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  
}

/* menu------------------------------------------------------------------ */

.menu{
  display: flex;
  justify-content:space-between;
  padding: 0;
  margin: 55px 0 30px 0;
}

.menu li{
  list-style: none;
  font-size: 21px;
  font-weight: bold;
}

.menu-detail{
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
}

.menu-detail:hover{
  border-bottom: 3px solid black;
  color: black;
  border-radius: 2px;
  transition: 0.13s;
}

/* home------------------------------------------------------------------------------------ */
.d-block{
  width: 100%;
  height: 500px;
}
.w-1{
  background-image: url(https://www.waterfront.co.za/wp-content/uploads/2022/09/2-1.jpg);
  background-size: cover;
  background-position: center;
}

.w-1::before{
  content: '';
  background: linear-gradient(to right, black, transparent);
  position: absolute;
  left: 0;
  height: 500px;
  width: 80%;
}
.w-3{
  background-size: cover;
  background-position: center;
  background-image: url(https://cdn-images.zety.com/pages/fashion_resume_example_3.jpg);
}

.w-2{
  width: 100%;
  background-image: url(https://www.visitwestside.com/wp-content/themes/chimera-framework/chimera/timthumb.php?src=https://www.visitwestside.com/wp-content/uploads/2020/03/Paint-party-palette.jpg&w=1920&h=500&zc=1&a=c&q=60);
  background-size: cover;
  background-position: center;
}

.logo-home{
  font-family: 'Caveat', cursive;
}
.w-1-text h3{
  font-size: 3em;
  text-align: start;
  font-weight: bold;
  color: white;
}

.w-1-text p{
  text-align: start;
  color: white;
  line-height: 28px;
  font-size: 1.2em;
  font-family: 'Noto Sans KR', sans-serif;
}

.w-2-text h3{
  font-size: 3em;
  text-align: start;
  font-weight: bold;
  color: black;
}

.w-2-text p{
  text-align: start;
  color: black;
  line-height: 28px;
  font-size: 1.2em;
  font-family: 'Noto Sans KR', sans-serif;
}

.w-2-go{
  border: 2px solid black;
  padding: 5px 13px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
}

.w-2-text{
  margin-bottom: 50px;
}

.w-2-text div{
  display: flex;
}

.w-3-text{
  margin-bottom: 80px;
}
.w-3-text h3{
  font-size: 3em;
  text-align: start;
  font-weight: bold;
  color: white;
}

.w-3-text p{
  text-align: start;
  color: white;
  line-height: 28px;
  font-size: 1.2em;
  font-family: 'Noto Sans KR', sans-serif;
}

.w-3-text div{
  display: flex;
}

.w-3-go{
  border: 2px solid white;
  padding: 5px 13px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
}



/* video.js========================================================= */

.video-head{
  margin: 30px 0 70px 0;
}
.video-text{
  margin-left: 5px;
  font-size: 2em;
  font-weight: bold;
}

.video-content iframe{
  border-radius: 15px;
}

/* 트렌드================================================================= */
.trend{

  background-color: rgba(240, 238, 238, 0.507);
}

.trend-text{
  padding-top: 30px;
}
.trend-title{
  font-size: 2em;
  font-weight: bold;
  
}
.trend-hot{
  font-size: 2em;
  font-weight: bold;
  padding-top: 30px;
  color: #E10D25;
  margin: 0 14px;
}
.trend-second-text{
  margin-top: 10px;
  font-weight: bold;
  width: 570px;
  padding: 10px 20px; 
  border-radius: 20px;
  background-color: #cfcece;
}
.trend-img{
  border-radius: 15px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.trend-card-1{
  display: flex;
  justify-content: end;
  padding: 20px 0;
}

.trend-card-text{
  padding: 0 30px;
  text-align: end;
  width: 100%;
  border-right: 5px solid rgba(0, 0, 0, 0.301);
  margin: 0 30px;
}

.cargo{
  color: #808000;
}

.Denim{
  color: #1b77a5;
}

.magenta{
  color: #BB2649;
}


.trend-card-2{
  display: flex;
  padding: 20px 0;
}

.trend-card-2:last-child{
  padding: 20px 0 70px 0;
}

.trend-card-text-2{
  padding: 0 30px;
  width: 100%;
  border-left: 5px solid rgba(0, 0, 0, 0.301);
  margin: 0 30px;
}

.trend-card-text h3, .trend-card-text-2 h3{
  font-weight: bold;
  margin-bottom: 1em;
}

.trend-card-text-2 p, .trend-card-text p{
  font-weight: 550;
}

.quote-left{
  font-size: 1.3em;
}
/* 쇼핑몰 사이트==================================================== */
.shopping-text{
  font-size: 2em;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 30px;
}

.brand-content{
  margin: 15px 0 30px 0;
}

.brand, .brand-white, .brand-gray{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 3px solid black;
  border-radius: 100%;
  transition: 0.7s;
}

.brand:hover{
  background-color: black;
  transition: 0.7s;
}

.brand-white:hover{
  border: 3px solid white;
  transition: 0.7s;
}

.brand-gray:hover{
  background-color: #f5f5f5;
  border: 3px solid #f5f5f5;
  transition: 0.7s;
}

.brand-pink{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 3px solid #e6409d;
  border-radius: 100%;
  transition: 0.7s;
}

.brand-pink:hover{
  background-color: #e6409d;
}

.shopping-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping-logo p{
  margin-top: 10px;
  font-weight: bold;
}
/* footer-------------------------------------------------------- */
.footer{
  background-color: #343541;
  width: 100%;
  height: 100%;
}

.footer-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-menu li{
  list-style: none;
  font-size: 17px;
  margin-top: 50px;
  color: lightgray;
}

.footer-content{
  padding: 50px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: lightgray;
}

.footer-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text h1{
  font-family: 'Caveat', cursive;
}

.footer-text p{
  margin: 3px;
}

.footer-icons{
  margin: 15px 0;
}

.footer-icons span{
  font-size: 1.5em;
  margin: 0 30px;
  cursor: pointer;
}

.footer-btns{
  margin: 0 30px 30px 0;
  border-radius: 20px;
  padding: 5px 15px;
  border: 3px solid rgb(99, 97, 97);
}

.footer-btns:hover{
  transition: 0.5s;
  background-color: lightgray;
}

.copyright{
  font-weight: bold;
}